body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8 !important;
    overflow-x: hidden; /* Убирает горизонтальную прокрутку */
      
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    height: 100%;
    max-width: 1232px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0px auto;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    /* height: 800px; */
    padding: 10px;
    box-sizing: border-box;
}
.main-section{
    @media(max-width: 992px){
        flex-direction: column;
    }
}

.main-left{
    flex: 1;
    max-width: 50%;
    height: 100%;
    border-radius: 40px;
    border: solid transparent;
    @media(max-width: 992px){
        background-color: #8b8b8b;
        background-image: url(../images/main-bg2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        position: relative;
        justify-content: center;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    
    }
}
.main-right{
    position: relative;
    width: 480px;
    border-radius: 40px;
    border: solid transparent;
    margin-top: 50px;
    margin: 30px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    @media(max-width:1400px){
        max-width: 400px;
        margin: 20px;
        padding: 20px;
    }
    @media(max-width:1200px){
        max-width: 365px;
        margin-top: 40px;
        padding: 15px;
        margin: 15px;
    }
    @media(max-width: 992px){
        max-width: 100%;
        padding: 15px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        margin-top: -30px;
    }
    @media(max-width: 768px){
     
    }
}
.main-social__phone{
    font-weight: 700;
    font-size: 26px;
    line-height: 98%;
    letter-spacing: -0.02em;
    color: #464646;
    @media(max-width: 1200px){
        font-size: 22px;
    }
    @media(max-width: 768px){
        font-size: 20px;
    }
}
.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius:30px ;
    z-index: 10;
    background-color: #7c7676;
    background-image: url('../images/main-bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    position: relative;
    @media(max-width: 992px){
        background: none;
        display: block !important;
        position: static; 
        flex-direction: column;
    }
}
.main-right__wrapper{
    /* margin-top: 20px; */
    @media(max-width: 992px){
        background: linear-gradient(29deg, rgba(120, 86, 70, 0.8) 0%, rgba(225, 203, 189, 0.3) 100%);
        border-radius: 40px;
    }
}
.main-bottom__decor{

    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media(max-width: 992px){
        display: none;
    }
    



}
.main-bottom__girl{
    position: absolute;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1;
    @media(max-width:1400px){
        height: auto;
        max-width: 575px;
        bottom: 0;
        object-fit: contain;
    }
    @media(max-width:1200px){
        max-width: 490px;
    }
    @media(max-width: 992px){
        position: static ;
        transform: none;
        width: 60%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    @media(max-width: 580px){
        width: 90%;
    }
}





.main-right {
    background-color: #fff;
    @media(max-width: 992px){
        margin-top: -30px;
    }
}
.main-right__decor{
   
}
.main-girl{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0px;
    object-fit: contain;
}
.main-rocket{
    position: absolute;
    bottom: 30px;
}
/* Header left */
.main-left__header {
    padding: 10px 20px;
}

.left-header__wrapper {
    display: flex;
    align-items: center;
    @media(max-width: 992px){
        justify-content: space-between;
    }
}
.header{
    padding-left: 30px;
    padding-top: 70px;
    @media(max-width:1400px){
        padding: 30px;
    }
    @media(max-width: 992px){
        padding: 40px;
    }
    @media(max-width: 992px){
        padding: 25px;
    }
    @media(max-width: 768px){
        padding: 25px 15px 10px !important;
    }
}
.header-list{
    @media(max-width: 992px){
        display: none !important;
    }
}
.burger-menu{
    display: none;
    @media(max-width: 992px){
        display: block !important;
    }
}
.burger-menu img{
    @media(max-width: 768px){
        width: 40px;
        height: 40px;
    }
}
.header-right{
    display: flex;
    align-items: center;
}
.header-logo {
    display: block;
    /* padding-top: 12px; */
   
}

.header-logo img {
    width: 120px;
    @media(max-width: 768px){
        width: 100px;
    }
}
.header-wrapper{
    display: flex;
    @media(max-width: 992px){
        justify-content: space-between;
    }
}
.header-logo{
    margin-right: 80px;
    @media(max-width: 1400px){
        margin-right: 30px;
    }
}
.header-list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-item {
    margin-right: 35px;
}

.header-link {
    font-size: 16px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    color: #E6E6E6;
    text-decoration: none;
    @media(max-width: 768px){
        font-size: 12px;
    }
}

.header-link-sm {
    font-weight: 500;
    text-decoration: none;
    position: relative;
}

.header-link-sm::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: rgb(46, 44, 44);
    transition: width 0.3s ease;
}

.header-link-sm:hover::after {
    width: 100%;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: inline-flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 30px;
    padding: 10px 15px;
    border-radius: 30px;
    border-color: #efeff3;
    border-style: solid;
    background: transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    @media(max-width: 992px){
        padding: 10 15px;
        font-size: 16px;
        margin: 0 10px;
        border-color: #469DDD;
        color: #469DDD;
    }
    @media(max-width: 768px){
        padding: 10px;
        font-size: 14px;
        margin: 0;
    }
}

.dropbtn::after {
    content: '';
    background-image: url(https://static.tildacdn.biz/tild6338-3561-4634-b665-626661316466/Vectorstr.svg);
    width: 12px;
    height: 7px;
    margin-left: 7px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
}

.dropbtn:hover::after {
    transform: rotate(180deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 30px;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    @media(max-width: 768px){
        left: -40px;
        min-width: 180px;
    }
}

.dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-link:hover {
    color: #469ddd;
}
.dropdown-link{
    @media(max-width: 768px){
        font-size: 14px !important;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-right__header {
    /* display: block; */
    display: flex;
    justify-content: flex-end; /* Выравнивание контента вправо */
    padding: 20px; /* Добавляем отступы */
}

.right-wrapper {
    display: flex;
}


/* Контент */
.main-content {
    padding: 30px;
    max-width: 660px;
    /* width: 100%; */
    @media(max-width:1400px){
        max-width: 540px;
    }
    @media(max-width:1200px){
        max-width: 440px;
    }
    @media(max-width: 992px){
        padding: 40px;
        max-width: none;
    }
    @media(max-width: 768px){
        padding: 40px 15px;
        max-width: none;
    }
    @media(max-width:580px){
        padding: 30px 15px;
    }
}
.title-container{
    display: flex;
    align-items: flex-end;
}
.main-title {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    /* padding-bottom: 20px; */
    @media(max-width:1400px){
        font-size: 38px;
        margin-top: 0 !important;
    }
    @media(max-width: 992px){
        font-size: 42px;
        max-width: 600px;
    }
    @media(max-width: 768px){
        font-size: 32px;
    }
    
}
.main-title__icons{
    display: flex;
    align-items: center;
}

.title-img{
    width: 50px;
    height: 50px;
}
.title-img--poland{
    margin: 0 10px;
}


.main-text {
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-bottom: 30px;border-top: 1px solid #afb2cc;
    @media(max-width: 1200px){
        font-size: 16px;
        padding-top: 10px;
        margin-bottom: 0;
    }
    @media(max-width: 768px){
        font-size: 19px;
        line-height: 1.5;   
    }
    @media(max-width: 580px){
        font-size: 16px;
        line-height: 1.3;   
    }
}

.main-btn {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    color: #0c0c0c;
    font-size: 20px;
    font-weight: 600;
    border-radius: 100px;
    background-color: #469DDD;
    box-shadow: 0 4px 10px #469DDD;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transition: 0.3s all;
    @media(max-width: 580px){
        padding: 15px;
        font-size: 18px;
    }
}
.main-btn:hover {
    transition: 0.3s all;
    /* background: linear-gradient(270deg, #db997d 0%, #f2b59c 100%), #c51111; /* Градиент перевернулся */
    box-shadow: 0 4px 10px rgba(245, 140, 110, 0.5); 
  }
  .main-title__flag{
    display: flex;
    align-items: center;
  }
.poland-icon{
    margin-left: 7px;
    width: 45px;
    height: 45px;
}

.main-right__header {
    text-align: right;
    padding: 20px;
}

.header-phone {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s all;
    @media(max-width: 992px){
        display: none;
    }
  
  
}

.header-phone:hover {
    color: #eee3e3;
    transition: 0.3s all;
}

.section-title{
    margin-top: 0 !important; 
    font-size: 70px;
    line-height: 70px;
    font-weight: 600;
    color: #000;
    text-align: center;
    @media(max-width: 1200px){
        font-size: 60px;
    }
    @media(max-width: 768px){
        font-size: 38px;
        line-height: 43px;
    }
}
.section-text{
    font-size: 20px;
    font-weight: 400;
    @media(max-width: 768px){
        font-size: 18px;
    }

}
.services-section{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    @media(max-width: 768px){
        margin: 35px 0;
    }
  
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
}
.services-title{
    margin-bottom: 30px;
}
.service-icon--flags{
    width: 70px !important;
    @media(max-width: 768px){
        width: 45px !important;
    }
}
  
.service {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #606483;
    font-size: 30px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-radius: 60px;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    text-decoration: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    @media(max-width: 992px){
        font-size: 25px;
        padding: 15px;
    }
    @media(max-width: 768px){
        font-size: 20px;
        padding: 17px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    @media(max-width:460px){
        font-size: 18px;
        padding: 13px;
    }
}
/* .service:hover {
    color: #fff;
    background-color: #469ddd;
    transition: 0.4s all;
} */
.service-icon{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    @media(max-width: 768px){
        width: 20px;
        height: 20px;
    }
}
/* Job Section */
.job{
    padding: 50px 0;
    background-color: #fff;
    @media(max-width: 768px){
        padding: 35px 0;
    }
  }
  .job-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .job-title::after {
    content: "";
    width: 100%;
    width: 300px;
    /* width: 240px; */
    height: 2px;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(188 154 105);
    @media(max-width: 768px){
        width: 230px;
    }
  }

  .job-cards{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .job-cards--pc{
    @media(max-width: 768px){
        display: none;
    }
  }
  .job-cards--mob{
    display: none  !important;
    @media(max-width: 768px){
        display: block !important;
    }
  }
  .job-card{
    max-width: 310px !important;
    min-height: 150px;
    max-width: 25%;
    flex: 0 0 25%;
    margin-bottom: 30px;
    color: #000;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-left: 15px;
    padding-right: 15px;
    @media(max-width: 1200px){
        flex: 33.333%;
        max-width:33%;
    }
    @media(max-width: 768px){
        flex: 50%;
        max-width:50%;
    }
    @media(max-width:  560px){
        flex: 100%;
        max-width:100%;
    }
    @media(max-width:420px){
        max-width: 100% !important;
    }
  }
  .job-card:hover {
    transform: scale(1.05); 
  }
  .job-card__item{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
    padding: 20px;
    background: rgba(25, 79, 130, 0.04);
    border-radius: 25px;
    text-align: center;
  }
  .job-card__name{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .job-card__subtitle{
    font-weight: 700;
    display: block;
  }
  
  .job-card__price{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .job-card__price::before {
    content: "";
    display: block;
    background-color: rgb(25, 79, 130);
    width: 70px;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .button-prev,
  .button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50px !important;
      height: 50px !important;
      background: #469DDD;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background 0.3s ease;
  }
  
  .button-prev:hover,
  .button-next:hover {
      background: rgba(21, 133, 198, 0.8);
  }
  
  .button-prev {
      left: 0;
  }
  
  .button-next {
      right: 0;
  }
  
  .button-prev svg,
  .button-next svg {
      width: 35px !important;
      height: 35px !important;
  }
  .swiper-button-prev:after{
    @media(max-width: 768px){
        display: none;
    }
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    @media(max-width: 768px){
        display: none;
    }
  }



/* ///== END Job Section */




/* Contacts Block */
.contacts{
    margin: 50px 0;
    @media(max-width: 768px){
        margin: 35px 0;
    }
}
.contacts-box {
    position: relative;
    border-radius: 40px;
    padding: 40px;
    background-color: #fff;
    @media(max-width: 768px){
        padding: 25px;
    }
    @media(max-width: 480px){
        padding: 15px;
    }
}

.contacts-box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4; /* Чем меньше, тем прозрачнее */
    border-radius: inherit;
    z-index: -1;
}

.contacts-box{
    position: relative;
    z-index: 2;
}

.contacts-title{
    text-align: left;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: center; */
    /* gap: 20px; */
    @media(max-width: 992px){
        gap: 10px;
        font-size: 38px !important;
        text-align: center;
    }
}
.decor-img{
    width: 40px;
    @media(max-width: 768px){
        width: 30px;
    }
}
/* .contacts-title{
    color: #fff;
} */
.contacts-text{
    font-size: 18px;
    font-weight: 600;
    max-width: 692px;
  
    @media(max-width:992px){
        border-radius: 12px; 
        margin-top: -30px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(10px); 
        border: 1px solid #469ddd;
        max-width: 100%;
        text-align: center;
    }
    @media(max-width: 768px){
        font-size: 15px;
    }
    @media(max-width: 480px){
        font-size: 14px;
        padding: 15px;
    }
}
.contacts-socials {
    display: flex;
    align-items: center;
    gap: 15px;
    @media(max-width: 992px){
        justify-content: center;
    }
}
.contacts-socials{
    @media(max-width: 992px){
        justify-content: center;
    }
}
.contacts-socials--mobile{
    display: none;
    @media(max-width: 992px){
        display: flex;
    }
}
.contacts-socials--pc{
    @media(max-width: 992px){
        display: none;
    }
}

.contacts-social{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    align-items: center;
    border-radius: 50%;
    border: 1px solid 
    rgb(70, 70, 70);
    transition: 0.3s all;
    @media(max-width: 768px){
        margin-top: 15px;
    }
}
.contacts-social:hover{
    scale: 1.1;
    transition: 0.3s all;
}
.contacts-social img{
    width: 27px;
    height: 27px;
}


.card-header {
    cursor: pointer; 
}

.main-socials{
    display: flex;
    align-items: center;
    gap: 20px;
}
.main-social{
    width: 26px;
    height: 26px;
}
.main-advantages {
    margin-top: 40px;
    border-radius: 17px;
    padding: 15px;
    color: #282625;
    background-color: #469DDD;
    @media(max-width: 1200px){
        margin-top: 10px;
    }
}
.swiper-slide {
    cursor: grab;
}

.swiper-slide:active {
    cursor: grabbing;
}


/* .main-advantages__wrapper{
    background: linear-gradient(29deg, #835f4d 0%, #e1cbbd 100%);
    border: 0.81px solid rgba(70, 62, 57, 0.2);
} */
.main-advantages__list{
    display: flex
    ;
        flex-direction: column;
        text-align: center;
}
.main-advantages__list-text{
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    @media(max-width: 1200px){
        font-size: 13px;
    }
}

.main-advantages__list{
    margin-bottom: 15px;
}
.main-right__content{
    margin-top: 40px;
    @media(max-width: 1200px){
        margin-top: 15px;
    }
}
.main-right__content-title{
    font-size: 24px;
    @media(max-width: 1200px){
        font-size: 22px;
    }
}
.main-right__content-text{
    font-size: 16px;
    @media(max-width: 1200px){
        font-size: 14px;
    }
}
.main-offer{
    color: #469DDD;
    font-weight: 700;
}
.main-right__flag{
    position: absolute;
    right: 70px;
    top: 80px;
    width: 70px;
    height: 70px;
    @media(max-width:1400px){
            right: 0;
    }
    @media(max-width:1200px){
        right: 10px;
        top: 64px;
        width: 50px;
        height: 50px;
    }
    @media(max-width: 768px){
        position: absolute;
        right: 42px;
        top: 114px;
    }
}
.contacts-girl{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    @media(max-width: 992px){
        display: flex;
        justify-content: center;
        margin: 0 auto;
        position: static;
        max-width: 470px;
    }
    @media(max-width:768px){
        max-width: 340px;
    }
    @media(max-width:580px){
        max-width: 310px;
    }
    @media(max-width:480px){
        max-width: 100%;
        /* object-fit:cover !important ; */
        object-fit: cover;
        height: auto;
    }
    /* width: 120px; */
}
.text-blue{
    color: #469ddd;
}
/* Reviews Section */
.reviews {
    padding: 50px 0;
    @media(max-width: 768px){
        padding: 35px 0;
    }
}

.reviews-heading {
    text-align: center;
    margin-bottom: 30px;
}



.section-text {
    font-size: 18px;
    font-weight: 500;
    color: #666;
}

.swiper {
    max-width: 1000px;
    overflow: hidden;
}

.reviews-wrapper {
    display: flex;
}

.slide ,.slide-mob {
    display: flex;
    flex-direction: row;
    background: 
        linear-gradient(29deg, rgba(36, 116, 206, 0.8) 0%, rgba(36, 108, 179, 0.3) 100%), 
        url('../images/advantages-bg.png');
    background-size: cover; 
    border-radius: 30px;
    overflow: hidden;  
    @media(max-width: 480px){
        min-height: 388px !important; /* Минимальная высота */
    }
       
 

}


.slide {
    display: flex !important;
    width: 100%;
    max-width: 1070px;
    padding: 35px;
    @media(max-width: 992px){
        padding: 30px 40px;
    }
}

.slide-content {
    max-width: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    @media(max-width: 992px){
        max-width: 440px;
    }
}

.slide-content__number {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    @media(max-width: 992px){
        font-size:22px;
    }
}

.slide-content__name {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    @media (max-width: 992px) {
        margin-bottom: 15px;
        margin-top: 10px !important;
        font-size: 24px;
    }
}

.slide-content__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    @media(max-width: 992px){
        font-size: 16px;
    }
}

.slide-arrows {
    margin-top: 25px;
    gap: 25px;
    justify-content: center;
    display: flex
;
}
.swiper-button-disabled {
    transition: all 0.3s ease 0s;
    cursor: auto;
    pointer-events: none;
}

.slide-btn {
    border: none;
    background: transparent;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.slide-avatar {
    margin-right: 80px;
    @media(max-width: 992px){
        margin-right: 60px;
    }
}
.slide-avatar__img{
    width: 250px;
    height: 250px;
    @media(max-width: 992px){
        width: 220px;
    }
}
.slide-avatar img {
    border-radius: 39.648px;
 
    object-fit: cover;
}
.slider-pc{
    @media(max-width: 768px){
        display: none;
    }
}
.slider-mob{
    display: none;
    @media(max-width: 768px){
        display: block;
    }
}
.slide-mob {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 27px;
    /* Фиксированная минимальная высота для всех слайдов */
    min-height: 400px; /* Подберите нужное значение */
    height: auto; /* Убираем 100% для гибкости */
    box-sizing: border-box; 
    @media(max-width: 768px){
        min-height: 330px;
    }
}
.slide-person{
    display: flex
;
    align-items: center;
    gap: 27px;
    margin-bottom: 26px;
}
.slide-person__img img {
    width: 110px;
    object-fit: cover;
    max-height: 110px;
    border-radius: 39.648px;
    border-radius: 39.648px;
}
.open-menu{
    padding: 8px;
    background: #469DDD;
    border-radius: 50%;
}

/* Reviews End */


/* Faq Bkock */
.faq-section{
    margin: 50px 0;
    position: relative;
    @media(max-width: 768px){
        margin: 35px 0;
    }
}
.faq-heading{
    margin-bottom: 40px;
}
.faq-bg-shadow {
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layout {
    margin: auto;
}

.accordion {
    margin-top: 10px;
    margin-bottom: 10px;
    /* background: rgb(105, 206, 105); */
    overflow: hidden;
    border-bottom: 2px solid #469DDD;
}

.accordion__question p {
    margin: 5px;
    padding: 0;
    font-size: 22px;
    font-weight: 700;
    transition: transform 0.3s ease;
    @media(max-width: 992px){
        font-size: 20px;
    }
    @media(max-width: 580px){
        font-size: 18px;
    }
    @media(max-width: 480px){
        font-size: 16px;
    }
}

.accordion__answer p {
    margin: 5px;
    padding: 10px;
    color: #000;
    border-radius: 10px;
    padding-left: 70px;
    @media(max-width:  580px){
        padding-left: 43px;
    }
    @media(max-width:  480px){
        font-size: 14px;
    }
}


.accordion:hover {
    cursor: pointer;
}

.accordion__answer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.accordion.active .accordion__answer {
    max-height: 500px;
    opacity: 1;
}
.accordion__question {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    @media(max-width: 580px){
        gap: 0;
    }
}

.accordion__icon {
    width: 62px;
    height:62px;
    transition: transform 0.3s ease;
    @media(max-width: 768px){
        width: 45px;
        height: 45px;
    }
}

.accordion.active .accordion__icon {
    transform: rotate(180deg);
}
.main-socials__wrapper{
    display: flex;
    justify-content: space-between;
    @media(max-width: 768px){
        flex-direction: column;
        gap: 20px;
        /* justify-content: center; */
        /* align-items: center; */
    }
}
.footer{
    margin: 40px 0;
}
.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.footer-item{
    margin-right: 30px;
}
.footer-link{
    color: #000;
    text-decoration: none;
}





.burger {
    display: none !important;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1001;
    position: relative;
    @media(max-width: 768px){
        display: block !important;
    }
}

.burger .open-menu span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px 0;
    transition: 0.3s;
}

/* Анимация бургера при открытии */
.burger.active .open-menu span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.burger.active .open-menu span:nth-child(2) {
    opacity: 0;
}
.burger.active .open-menu span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Меню */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100vh;
    background: #fff;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 60px 20px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    height: 100%;
}

.mobile-menu.active {
    right: 0;
}

/* Список */
.mobile-menu__list {
    list-style: none;
    padding-top: 70px;
    text-align: center;
    margin: 0;
}

.mobile-menu__list li {
    margin-bottom: 20px;
}

.mobile-menu__list a {
    text-decoration: none;
    font-size: 20px;
    color: #469DDD !important;
    transition: 0.3s;
}

.mobile-menu__list a:hover {
    color: #f00;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}
